################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin/
**/obj/
/src/.vs
/.vs/
*.user
*.suo
*.snk
*.vspscc
/src/RevolutionaryStuff.SSIS/deploy.bat
