@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="centermiddle">
    <div>
        <h1>
            <img src="media/R.png" alt="Revolutionary Stuff Logo" style="width:92px; height:92px" /> Revolutionary Stuff
        </h1>
        <small style="font-style:italic">Powering internet changing ideas</small>
    </div>
</div>
